@page
@model ASPracticalAssignment.Pages.errors._400Model
@{
    ViewData["title"] = "Bad Request";
}

<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">400</h1>
    <p>The request is not recognized by server because of errors in syntax. Request should be changed with corrected syntax.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>