@page
@model ASPracticalAssignment.Pages.errors._401Model
@{
    ViewData["title"] = "Unauthorized access";
}

<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">401</h1>
    <p>The request you just made cannot be fulfilled due to the lack of authority.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>