@page
@model ASPracticalAssignment.Pages.errors._402Model
@{
    ViewData["title"] = "Not in use";
}

<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">402</h1>
    <p>The page you are trying to visit is currently not in use</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>