@page
@model ASPracticalAssignment.Pages.errors._403Model
@{
    ViewData["title"] = "Forbidden request";
}

<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">403</h1>
    <p>The request you just made cannot be executed by the server.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>