@page
@model ASPracticalAssignment.Pages.errors._405Model
@{
    ViewData["title"] = "Method Not Allowed";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">405</h1>
    <p>Http request made not allowed.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>