@page
@model ASPracticalAssignment.Pages.errors._406Model
@{
    ViewData["title"] = "Unacceptable data";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">406</h1>
    <p>The web server just received some bad data.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>