@page
@model ASPracticalAssignment.Pages.errors._407Model
@{
    ViewData["title"] = "Proxy authentication required";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">407</h1>
    <p>The web server has detected a proxy in the connection.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>