@page
@model ASPracticalAssignment.Pages.errors._408Model
@{
    ViewData["title"] = "Request Timeout";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">408</h1>
    <p>Request Timout</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>