@page
@model ASPracticalAssignment.Pages.errors._500_Model
@{
    ViewData["title"] = "Internal Server Error";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">500</h1>
    <p>Some problem occurred on our servers.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>