@page
@model ASPracticalAssignment.Pages.errors._501Model
@{
    ViewData["title"] = "Not Implemented";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">501</h1>
    <p>Http method in request not supported by the server.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>