@page
@model ASPracticalAssignment.Pages.errors._502Model
@{
    ViewData["title"] = "Bad Gateway";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">502</h1>
    <p>Bad internet connection.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>