@page
@model ASPracticalAssignment.Pages.errors._504Model
@{
    ViewData["title"] = "Gateway Timeout";
}
<div class="container" style="text-align: center;">
    <h1 style="font-size: 150px; margin-bottom: 0px;">504</h1>
    <p>The server is taking too long to respond.</p>
    <p>Please navigate back to <a asp-page="/Index">Ace Job Agency</a></p>
</div>