html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color: #ffffff;
}

body {
  margin-bottom: 60px;
  background-color: #000000;
  min-height: 100%;
  color: #fff;
}